<div style="height: 100vh;" class="fixed top-0 bottom-0 left-0 bg-blue-700 w-[300px] px-3 py-6">
    <div class="flex gap-x-3">
        <h3 class="text-xl text-white">Dashboard teacher</h3>
        <i class="fa-solid fa-graduation-cap text-white text-xl"></i>
    </div>

    <ul class="text-white mt-6 px-6 flex flex-col gap-y-3">
        <li class="hover:text-gray-300">
            <a href="/teachers">Profile</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/">Trang chủ</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/teachers/projects/create">Tạo đề tài</a>
        </li>
         <li class="hover:text-gray-300">
            <a href="/teachers/projects/approval">Duyệt đề tài</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/teachers/projects">Danh sách đề tài</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/teachers/students/create">Tạo tài khoản sinh viên</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/teachers/students">Danh sách sinh viên</a>
        </li>
        <li class="hover:text-gray-300">
            <a href="/teachers/logout">Đăng xuất</a>
        </li>
    </ul>
</div>