<!--home-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {{> nav}}
<img src="../images/Campus-1-_-TVU-5-1-scaled.jpg" class="mt-[-48px]">
   
</body>
</html>
